html {
    font-style: italic;
    scroll-behavior: smooth;
}

/* main section */
.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main section:first-child {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}